nav > ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin: 10px;
    padding: 10px;

}
nav ul li a {
    text-decoration:none;
    color: rgb(0, 255, 42);
}
nav ul li :hover{
    background-color: rgb(4, 176, 255);
}
nav ul .ul{
    display: none;
    position: absolute;
    background-color: rgb(255, 125, 19);
    padding: 10px;
}
nav li:hover .ul{
    display: block;
}